#Define as bibliotecas que o Python precisa para rodar o projeto. 
#Inclui abstrações como LangChain, clientes oficiais da OpenAI e do Google Gemini (para chamadas de IA), psycopg2-binary, pgvector e sqlalchemy (para interação com o banco de dados), pydantic (para configurações) e pypdf (para leitura de PDFs).

langchain
langchain-postgres
langchain-openai
langchain-google-genai
openai
google-generativeai
psycopg2-binary
pgvector
sqlalchemy
pydantic
python-dotenv
typer
pytest
pypdf